sfdc-pmt/main/default/flows/Create_Onboarding_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>assignHasWagesPhaseName</name>
        <label>Assign Phase Name</label>
        <locationX>182</locationX>
        <locationY>3950</locationY>
        <assignmentItems>
            <assignToReference>varPhaseName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Has Wages</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Records_Found_HasWages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignHasWagesTaskVariables</name>
        <label>Assign Has Wages Task Variables</label>
        <locationX>138</locationX>
        <locationY>4490</locationY>
        <assignmentItems>
            <assignToReference>NewTask.Assigned_To1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Has_Wages_Tasks.PMT_Task_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TodayPlus7</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createPMTPhaseHasWages</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPMTTaskRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Has_Wages_Tasks.PMT_Task_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignToCollection4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignNoWagesPhaseName</name>
        <label>Assign Phase Name</label>
        <locationX>798</locationX>
        <locationY>3950</locationY>
        <assignmentItems>
            <assignToReference>varPhaseName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Wages</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Records_Found_NoWages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignNoWagesTaskVariables</name>
        <label>Assign No Wages Task Variables</label>
        <locationX>754</locationX>
        <locationY>4490</locationY>
        <assignmentItems>
            <assignToReference>NewTask.Assigned_To1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_No_Wages_Tasks.PMT_Task_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TodayPlus7</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createPMTPhaseNoWages</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPMTTaskRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_No_Wages_Tasks.PMT_Task_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignToCollection5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignPhase1Name</name>
        <label>Assign Phase 1 Name</label>
        <locationX>1436</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varPhaseName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Payroll Application</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Phase_1_Task_Templates_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignPhase1TaskVariables</name>
        <label>Assign Phase 1 Task Variables</label>
        <locationX>1238</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>NewTask.Assigned_To1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Phase_1_Tasks.PMT_Task_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TodayPlus7</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createPMTPhase1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPMTTaskRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Phase_1_Tasks.PMT_Task_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignPhase2Name</name>
        <label>Assign Phase 2 Name</label>
        <locationX>1150</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>varPhaseName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Document Checklists</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Phase_2_Task_Templates_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignPhase2TaskVariables</name>
        <label>Assign Phase 2 Task Variables</label>
        <locationX>930</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>NewTask.Assigned_To1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Phase_2_Tasks.PMT_Task_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TodayPlus7</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createPMTPhase2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPMTTaskRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Phase_2_Tasks.PMT_Task_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignToCollection2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignPhase3Name</name>
        <label>Assign Phase 3 Name</label>
        <locationX>842</locationX>
        <locationY>2894</locationY>
        <assignmentItems>
            <assignToReference>varPhaseName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Employee Information</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Phase_3_Task_Templates_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignPhase3TaskVariables</name>
        <label>Assign Phase 3 Task Variables</label>
        <locationX>578</locationX>
        <locationY>3434</locationY>
        <assignmentItems>
            <assignToReference>NewTask.Assigned_To1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Phase_3_Tasks.PMT_Task_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TodayPlus7</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createPMTPhase3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPMTTaskRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Phase_3_Tasks.PMT_Task_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignToCollection3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the updated task record variable to the TasksToCreate collection.</description>
        <name>assignToCollection</name>
        <label>Assign to Collection</label>
        <locationX>1238</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Phase_1_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the updated task record variable to the TasksToCreate collection.</description>
        <name>assignToCollection2</name>
        <label>Assign to Collection</label>
        <locationX>930</locationX>
        <locationY>2594</locationY>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Phase_2_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the updated task record variable to the TasksToCreate collection.</description>
        <name>assignToCollection3</name>
        <label>Assign to Collection</label>
        <locationX>578</locationX>
        <locationY>3542</locationY>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Phase_3_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the updated task record variable to the TasksToCreate collection.</description>
        <name>assignToCollection4</name>
        <label>Assign to Collection</label>
        <locationX>138</locationX>
        <locationY>4598</locationY>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Has_Wages_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the updated task record variable to the TasksToCreate collection.</description>
        <name>assignToCollection5</name>
        <label>Assign to Collection</label>
        <locationX>754</locationX>
        <locationY>4598</locationY>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_No_Wages_Tasks</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Filter Phase 1 records from the NCS Onboarding Templates collection.</description>
        <name>filterCollectionPhase1</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Collection - Phase 1</label>
        <locationX>1436</locationX>
        <locationY>890</locationY>
        <assignNextValueToReference>currentItem_filterCollectionPhase4</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getNCSOnboardingTemplates</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filterCollectionPhase4.PMT_Phase_Order__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <numberValue>1.0</numberValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>assignPhase1Name</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Filter Phase 2 records from the NCS Onboarding Templates collection.</description>
        <name>filterCollectionPhase2</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Collection - Phase 2</label>
        <locationX>1150</locationX>
        <locationY>1838</locationY>
        <assignNextValueToReference>currentItem_filterCollectionPhase4</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getNCSOnboardingTemplates</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filterCollectionPhase4.PMT_Phase_Order__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <numberValue>2.0</numberValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>assignPhase2Name</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Filter Phase 3 records from the NCS Onboarding Templates collection.</description>
        <name>filterCollectionPhase3</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Collection - Phase 3</label>
        <locationX>842</locationX>
        <locationY>2786</locationY>
        <assignNextValueToReference>currentItem_filterCollectionPhase4</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getNCSOnboardingTemplates</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filterCollectionPhase4.PMT_Phase_Order__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <numberValue>3.0</numberValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>assignPhase3Name</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Filter &quot;Has Wages&quot; records from the NCS Onboarding Templates collection.</description>
        <name>filterCollectionPhase4</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Collection - Has Wages</label>
        <locationX>182</locationX>
        <locationY>3842</locationY>
        <assignNextValueToReference>currentItem_filterCollectionPhase4</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getNCSOnboardingTemplates</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filterCollectionPhase4.PMT_Phase_Order__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <numberValue>4.0</numberValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>assignHasWagesPhaseName</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Filter &quot;No Wages&quot; records from the NCS Onboarding Templates collection.</description>
        <name>filterCollectionPhase5</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Collection - No Wages</label>
        <locationX>798</locationX>
        <locationY>3842</locationY>
        <assignNextValueToReference>currentItem_filterCollectionPhase4</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getNCSOnboardingTemplates</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filterCollectionPhase4.PMT_Phase_Order__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <numberValue>5.0</numberValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>assignNoWagesPhaseName</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Sorts the filtered records by PMT Task Order.</description>
        <name>sortCollectionPhase1</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Collection - Phase 1</label>
        <locationX>1150</locationX>
        <locationY>1322</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>filterCollectionPhase1</collectionReference>
        <connector>
            <targetReference>Loop_Through_Phase_1_Tasks</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>PMT_Task_Order__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <description>Sorts the filtered records by PMT Task Order.</description>
        <name>sortCollectionPhase2</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Collection - Phase 2</label>
        <locationX>842</locationX>
        <locationY>2270</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>filterCollectionPhase2</collectionReference>
        <connector>
            <targetReference>Loop_Through_Phase_2_Tasks</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>PMT_Task_Order__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <description>Sorts the filtered records by PMT Task Order.</description>
        <name>sortCollectionPhase3</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Collection - Phase 3</label>
        <locationX>490</locationX>
        <locationY>3218</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>filterCollectionPhase3</collectionReference>
        <connector>
            <targetReference>Loop_Through_Phase_3_Tasks</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>PMT_Task_Order__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <description>Sorts the filtered records by PMT Task Order.</description>
        <name>sortCollectionPhase4</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Collection - Has Wages</label>
        <locationX>50</locationX>
        <locationY>4274</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>filterCollectionPhase4</collectionReference>
        <connector>
            <targetReference>Loop_Through_Has_Wages_Tasks</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>PMT_Task_Order__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <description>Sorts the filtered records by PMT Task Order.</description>
        <name>sortCollectionPhase5</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Collection - No Wages</label>
        <locationX>666</locationX>
        <locationY>4274</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>filterCollectionPhase5</collectionReference>
        <connector>
            <targetReference>Loop_Through_No_Wages_Tasks</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>PMT_Task_Order__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <description>Checks if the triggering Contract (Payroll Application) &quot;Has Wages&quot; checkbox is checked or not.</description>
        <name>Has_Wages</name>
        <label>Has Wages?</label>
        <locationX>490</locationX>
        <locationY>3734</locationY>
        <defaultConnector>
            <targetReference>filterCollectionPhase5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Wages</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getContract.Has_Wages__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>filterCollectionPhase4</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if at least one record was found.</description>
        <name>NCS_Onboarding_Template_Records_Found</name>
        <label>NCS Onboarding Template Records Found?</label>
        <locationX>1711</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>updateContract_NoTemplatesFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Records Found</defaultConnectorLabel>
        <rules>
            <name>RecordsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getNCSOnboardingTemplates</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getPMTProjectRecordType</targetReference>
            </connector>
            <label>Record(s) Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phase_1_Task_Templates_Found</name>
        <label>Phase 1 Task Templates Found?</label>
        <locationX>1436</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>updateContract_NoPhase1Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Phase1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>filterCollectionPhase1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createPMTPhase1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phase_2_Task_Templates_Found</name>
        <label>Phase 2 Task Templates Found?</label>
        <locationX>1150</locationX>
        <locationY>2054</locationY>
        <defaultConnector>
            <targetReference>updateContract_NoPhase2Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Phase2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>filterCollectionPhase2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createPMTPhase2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phase_3_Task_Templates_Found</name>
        <label>Phase 3 Task Templates Found?</label>
        <locationX>842</locationX>
        <locationY>3002</locationY>
        <defaultConnector>
            <targetReference>updateContract_NoPhase3Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Phase3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>filterCollectionPhase3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createPMTPhase3</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_Found_HasWages</name>
        <label>Records Found?</label>
        <locationX>182</locationX>
        <locationY>4058</locationY>
        <defaultConnector>
            <targetReference>updateContract_NoPhase4Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_HasWagesRecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>filterCollectionPhase4</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createPMTPhaseHasWages</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_Found_NoWages</name>
        <label>Records Found?</label>
        <locationX>798</locationX>
        <locationY>4058</locationY>
        <defaultConnector>
            <targetReference>updateContract_NoPhase5Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_NoWagesRecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>filterCollectionPhase5</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createPMTPhaseNoWages</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Launched from Flow: Contract OnCreate - Payroll Application</description>
    <environments>Default</environments>
    <formulas>
        <name>TodayPlus7</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 7</expression>
    </formulas>
    <interviewLabel>Create Onboarding Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Onboarding Project</label>
    <loops>
        <description>Loops through the filtered record collection for the Has Wages phase.</description>
        <name>Loop_Through_Has_Wages_Tasks</name>
        <label>Loop Through Has Wages Tasks</label>
        <locationX>50</locationX>
        <locationY>4382</locationY>
        <collectionReference>filterCollectionPhase4</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignHasWagesTaskVariables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createTasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loops through the filtered record collection for the &quot;No Wages&quot; phase.</description>
        <name>Loop_Through_No_Wages_Tasks</name>
        <label>Loop Through No Wages Tasks</label>
        <locationX>666</locationX>
        <locationY>4382</locationY>
        <collectionReference>filterCollectionPhase5</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignNoWagesTaskVariables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createTasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loops through the filtered record collection for Phase 1.</description>
        <name>Loop_Through_Phase_1_Tasks</name>
        <label>Loop Through Phase 1 Tasks</label>
        <locationX>1150</locationX>
        <locationY>1430</locationY>
        <collectionReference>filterCollectionPhase1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignPhase1TaskVariables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>filterCollectionPhase2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loops through the filtered record collection for Phase 2.</description>
        <name>Loop_Through_Phase_2_Tasks</name>
        <label>Loop Through Phase 2 Tasks</label>
        <locationX>842</locationX>
        <locationY>2378</locationY>
        <collectionReference>filterCollectionPhase2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignPhase2TaskVariables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>filterCollectionPhase3</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loops through the filtered record collection for Phase 3.</description>
        <name>Loop_Through_Phase_3_Tasks</name>
        <label>Loop Through Phase 3 Tasks</label>
        <locationX>490</locationX>
        <locationY>3326</locationY>
        <collectionReference>filterCollectionPhase3</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignPhase3TaskVariables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Wages</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a Phase 1 record associated to the PMT Project.</description>
        <name>createPMTPhase1</name>
        <label>Create PMT Phase 1</label>
        <locationX>1150</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>sortCollectionPhase1</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varPhaseNameTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>createPMTProject</elementReference>
            </value>
        </inputAssignments>
        <object>PMT_Phase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a Phase 2 record associated to the PMT Project.</description>
        <name>createPMTPhase2</name>
        <label>Create PMT Phase 2</label>
        <locationX>842</locationX>
        <locationY>2162</locationY>
        <connector>
            <targetReference>sortCollectionPhase2</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varPhaseNameTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>createPMTProject</elementReference>
            </value>
        </inputAssignments>
        <object>PMT_Phase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a Phase 3 record associated to the PMT Project.</description>
        <name>createPMTPhase3</name>
        <label>Create PMT Phase 3</label>
        <locationX>490</locationX>
        <locationY>3110</locationY>
        <connector>
            <targetReference>sortCollectionPhase3</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varPhaseNameTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>createPMTProject</elementReference>
            </value>
        </inputAssignments>
        <object>PMT_Phase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a &quot;Has Wages&quot; Phase record associated to the PMT Project.</description>
        <name>createPMTPhaseHasWages</name>
        <label>Create PMT Phase - Has Wages</label>
        <locationX>50</locationX>
        <locationY>4166</locationY>
        <connector>
            <targetReference>sortCollectionPhase4</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varPhaseNameTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>createPMTProject</elementReference>
            </value>
        </inputAssignments>
        <object>PMT_Phase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a &quot;No Wages&quot; Phase record associated to the PMT Project.</description>
        <name>createPMTPhaseNoWages</name>
        <label>Create PMT Phase - No Wages</label>
        <locationX>666</locationX>
        <locationY>4166</locationY>
        <connector>
            <targetReference>sortCollectionPhase5</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varPhaseNameTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>createPMTProject</elementReference>
            </value>
        </inputAssignments>
        <object>PMT_Phase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a PMT Program record and links it to the Payroll Application (Contract).</description>
        <name>createPMTProgram</name>
        <label>Create PMT Program</label>
        <locationX>1711</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>getNCSOnboardingTemplates</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>New Client Services - {!getContract.Client_Name__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payroll_Application__c</field>
            <value>
                <elementReference>getContract.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PMT_Program__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a PMT Project Record with predefined values.</description>
        <name>createPMTProject</name>
        <label>Create PMT Project</label>
        <locationX>1436</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>filterCollectionPhase1</targetReference>
        </connector>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>getContract.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Level_of_Effort__c</field>
            <value>
                <stringValue>Small</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varPMTProjectName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program__c</field>
            <value>
                <elementReference>createPMTProgram</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varPMTProjectRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>PMT_Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createTasks</name>
        <label>Create Tasks</label>
        <locationX>490</locationX>
        <locationY>4958</locationY>
        <inputReference>TasksToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get the Contract Record matching the recordId variable.</description>
        <name>getContract</name>
        <label>Get Contract</label>
        <locationX>1711</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createPMTProgram</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all NCS Onboarding Template metadata records.</description>
        <name>getNCSOnboardingTemplates</name>
        <label>Get NCS Onboarding Templates</label>
        <locationX>1711</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NCS_Onboarding_Template_Records_Found</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>NCS_Onboarding_Template__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Id for the Onboarding PMT Project record type and store it in the varPMTProjectRecordTypeId variable.</description>
        <name>getPMTProjectRecordType</name>
        <label>Get PMT Project Record Type</label>
        <locationX>1436</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPMTTaskRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varPMTProjectRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get the Id for the &apos;Onboarding Task&apos; PMT Task record type and store it in the varPMTTaskRecordId variable.</description>
        <name>getPMTTaskRecordType</name>
        <label>Get PMT Task Record Type</label>
        <locationX>1436</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createPMTProject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onboarding_Task</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varPMTTaskRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Updates the Legal Review Comment.</description>
        <name>updateContract_NoPhase1Found</name>
        <label>Update Contract/Application</label>
        <locationX>1722</locationX>
        <locationY>1214</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getContract.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Legal_Review_Comments__c</field>
            <value>
                <stringValue>No PMT Phase 1 Tasks found.</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the Legal Review Comment.</description>
        <name>updateContract_NoPhase2Found</name>
        <label>Update Contract/Application</label>
        <locationX>1458</locationX>
        <locationY>2162</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getContract.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Legal_Review_Comments__c</field>
            <value>
                <stringValue>No PMT Phase 2 Tasks found.</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the Legal Review Comment.</description>
        <name>updateContract_NoPhase3Found</name>
        <label>Update Contract/Application</label>
        <locationX>1194</locationX>
        <locationY>3110</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getContract.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Legal_Review_Comments__c</field>
            <value>
                <stringValue>No PMT Phase 3 Tasks found.</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the Legal Review Comment.</description>
        <name>updateContract_NoPhase4Found</name>
        <label>Update Contract/Application</label>
        <locationX>314</locationX>
        <locationY>4166</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getContract.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Legal_Review_Comments__c</field>
            <value>
                <stringValue>Could not find &quot;Has Wages&quot; PMT Task templates.</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the Legal Review Comment.</description>
        <name>updateContract_NoPhase5Found</name>
        <label>Update Contract/Application</label>
        <locationX>930</locationX>
        <locationY>4166</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getContract.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Legal_Review_Comments__c</field>
            <value>
                <stringValue>Could not find &quot;No Wages&quot; PMT Task templates.</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the Legal Review Comment.</description>
        <name>updateContract_NoTemplatesFound</name>
        <label>Update Contract</label>
        <locationX>1986</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getContract.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Legal_Review_Comments__c</field>
            <value>
                <stringValue>No NCS Onboarding Template metadata records found.</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>1585</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getContract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Uses the template: Current Phase Name - Contract&apos;s Client Name</description>
        <name>varPhaseNameTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!varPhaseName} - {!getContract.Client_Name__c}</text>
    </textTemplates>
    <textTemplates>
        <name>varPMTProjectName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>NCS Onboarding - {!getContract.Client_Name__c} - {!$Flow.CurrentDate}</text>
    </textTemplates>
    <variables>
        <name>currentItem_filterCollectionPhase4</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NCS_Onboarding_Template__mdt</objectType>
    </variables>
    <variables>
        <name>NewTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PMT_Task__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TasksToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PMT_Task__c</objectType>
    </variables>
    <variables>
        <name>varPhaseName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Id for the Onboarding PMT Project record type.</description>
        <name>varPMTProjectRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Id for the &apos;Onboarding Task&apos; PMT Task record type.</description>
        <name>varPMTTaskRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
