sfdc-pmt/main/default/flows/PMT_Task_Status_Sync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <description>Assigns values for PMT Phase fields to update.</description>
        <name>assignPMTPhaseVariables</name>
        <label>Assign PMT Phase Variables</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>getPMTPhase.Previous_Phase_Health__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPMTPhase.Phase_Health__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getPMTPhase.Phase_Health__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updatePMTPhase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns values for PMT Phase fields to update.</description>
        <name>assignPMTPhaseVariables_Pended</name>
        <label>Assign PMT Phase Variables</label>
        <locationX>842</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>getPMTPhase_Pended.Phase_Health__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPMTPhase_Pended.Previous_Phase_Health__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updatePMTPhase_Pended</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns values for PMT Project fields to update.</description>
        <name>assignPMTProjectVariables</name>
        <label>Assign PMT Project Variables</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>getPMTProject.Previous_Project_Health__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPMTProject.Project_Health__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getPMTProject.Project_Health__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pended</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updatePMTProject</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns values for PMT Project fields to update.</description>
        <name>assignPMTProjectVariables_Pended</name>
        <label>Assign PMT Project Variables</label>
        <locationX>842</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>getPMTProject_Pended.Project_Health__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPMTProject_Pended.Previous_Project_Health__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updatePMTProject_Pended</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Removes the triggering record from the record collection.</description>
        <name>filterPMTTasks</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Remove Current Task</label>
        <locationX>776</locationX>
        <locationY>539</locationY>
        <assignNextValueToReference>currentItem_filterPMTTasks</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getPMTTasks</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filterPMTTasks.Id</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <elementReference>$Record.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Other_Pended_Task_Found</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <description>Null check for the filtered collection.</description>
        <name>Other_Pended_Task_Found</name>
        <label>Other Pended Task(s) Found?</label>
        <locationX>776</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>getPMTPhase_Pended</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PMTTaskFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>filterPMTTasks</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the record was updated to, or moved out of Pended.</description>
        <name>Status_Check</name>
        <label>Status Check</label>
        <locationX>776</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Pended</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding_Task</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pended</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pended</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getPMTPhase</targetReference>
            </connector>
            <label>Pended</label>
        </rules>
        <rules>
            <name>Moved_out_of_Pended</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding_Task</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pended</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pended</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getPMTTasks</targetReference>
            </connector>
            <label>Moved out of Pended</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if a PMT Phase record was found.</description>
        <name>Update_PMT_Phase</name>
        <label>Update PMT Phase?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>getPMTProject</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PMTPhase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getPMTPhase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignPMTPhaseVariables</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if a PMT Phase record was found.</description>
        <name>Update_PMT_Phase_Pended</name>
        <label>Update PMT Phase?</label>
        <locationX>974</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>getPMTProject_Pended</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getPMTPhase_Pended</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignPMTPhaseVariables_Pended</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if a PMT Phase record was found.</description>
        <name>Update_PMT_Project</name>
        <label>Update PMT Project?</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PMTProject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getPMTProject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignPMTProjectVariables</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if a PMT Phase record was found.</description>
        <name>Update_PMT_Project_Pended</name>
        <label>Update PMT Project?</label>
        <locationX>974</locationX>
        <locationY>1379</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Pended</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getPMTProject_Pended</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignPMTProjectVariables_Pended</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>When the status of a PMT Task record changes to Pended, update the related Phase to &quot;On Hold&quot; and Project to &quot;Pended&quot;.</description>
    <environments>Default</environments>
    <interviewLabel>PMT Task Status Sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PMT Task Status Sync</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the PMT Phase record related to the task.</description>
        <name>getPMTPhase</name>
        <label>Get PMT Phase</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_PMT_Phase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Phase__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phase_Health__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PMT_Phase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the PMT Phase record related to the task.</description>
        <name>getPMTPhase_Pended</name>
        <label>Get PMT Phase</label>
        <locationX>974</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_PMT_Phase_Pended</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Phase__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phase_Health__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PMT_Phase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the PMT Project record related to the task.</description>
        <name>getPMTProject</name>
        <label>Get PMT Project</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_PMT_Project</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project_Health__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </filters>
        <filters>
            <field>Project_Health__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pended</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PMT_Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the PMT Project record related to the task.</description>
        <name>getPMTProject_Pended</name>
        <label>Get PMT Project</label>
        <locationX>974</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_PMT_Project_Pended</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project_Health__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </filters>
        <filters>
            <field>Project_Health__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pended</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PMT_Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Checks if other Pended PMT Tasks already exist.</description>
        <name>getPMTTasks</name>
        <label>Get PMT Tasks</label>
        <locationX>776</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>filterPMTTasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Phase__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pended</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PMT_Task__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the PMT Phase record with the values set during &apos;Assign PMT Phase Variables&apos;.</description>
        <name>updatePMTPhase</name>
        <label>Update PMT Phase</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>getPMTProject</targetReference>
        </connector>
        <inputReference>getPMTPhase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the PMT Phase record with the values set during &apos;Assign PMT Phase Variables&apos;.</description>
        <name>updatePMTPhase_Pended</name>
        <label>Update PMT Phase</label>
        <locationX>842</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>getPMTProject_Pended</targetReference>
        </connector>
        <inputReference>getPMTPhase_Pended</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the PMT Project record with the values set during &apos;Assign PMT Project Variables&apos;.</description>
        <name>updatePMTProject</name>
        <label>Update PMT Project</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <inputReference>getPMTProject</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the PMT Project record with the values set during &apos;Assign PMT Project Variables&apos;.</description>
        <name>updatePMTProject_Pended</name>
        <label>Update PMT Project</label>
        <locationX>842</locationX>
        <locationY>1595</locationY>
        <inputReference>getPMTProject_Pended</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>PMT_Task__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_filterPMTTasks</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PMT_Task__c</objectType>
    </variables>
    <variables>
        <name>currentItem_fliterPMTTasks</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PMT_Task__c</objectType>
    </variables>
</Flow>
