sfdc-pmt/main/default/flows/PMT_Payroll_Support_Master_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>Add the available option to the case options list</description>
        <name>AddOption</name>
        <label>Add Option</label>
        <locationX>1590</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>colLabels</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SetAvailableOptions.Label</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SetAvailableOptions.Description__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetAvailableOptions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsPayrollSupportCase</name>
        <label>IsPayrollSupportCase</label>
        <locationX>1502</locationX>
        <locationY>650</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>isPayrollSupport</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewCaseType.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payroll Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Launch_Payroll_Support_Flow</targetReference>
            </connector>
            <label>Payroll Support</label>
        </rules>
        <rules>
            <name>isClientManagement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewCaseType.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ClientManagementFlow</targetReference>
            </connector>
            <label>Client Management</label>
        </rules>
        <rules>
            <name>isTax</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewCaseType.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tax</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PayrollTaxFlow</targetReference>
            </connector>
            <label>Tax</label>
        </rules>
        <rules>
            <name>isProductSupport</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewCaseType.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProductSupportFlow</targetReference>
            </connector>
            <label>Product Support</label>
        </rules>
        <rules>
            <name>isAssignToSelf</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewCaseType.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assign to Self</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelfAssignFlow</targetReference>
            </connector>
            <label>Assign to Self</label>
        </rules>
        <rules>
            <name>isLearningAndDevelopment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewCaseType.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Learning and Development</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LearnDev</targetReference>
            </connector>
            <label>Learning and Development</label>
        </rules>
        <rules>
            <name>isCompliance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewCaseType.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compliance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ComplianceFlow</targetReference>
            </connector>
            <label>Compliance</label>
        </rules>
        <rules>
            <name>isRiskManagement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewCaseType.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Risk Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payroll_Risk_Management_Dispatcher</targetReference>
            </connector>
            <label>Risk Management</label>
        </rules>
        <rules>
            <name>isFulfillment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewCaseType.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fulfillment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FulfillmentDispatcherFlow</targetReference>
            </connector>
            <label>Fulfillment</label>
        </rules>
        <rules>
            <name>ClientServices</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewCaseType.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PayrollClientServices</targetReference>
            </connector>
            <label>Client Services</label>
        </rules>
        <rules>
            <name>New_Client_Services_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewCaseType.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Client Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewClientServices</targetReference>
            </connector>
            <label>New Client Services Flow</label>
        </rules>
    </decisions>
    <description>AB#71465 - Added New Client Services feature flag &amp; subflow.</description>
    <environments>Default</environments>
    <formulas>
        <name>varFirstName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}</expression>
    </formulas>
    <interviewLabel>PMT Payroll Support Master Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PMT Payroll Support Master Flow</label>
    <loops>
        <description>Set the case types that the user can create</description>
        <name>SetAvailableOptions</name>
        <label>Set Available Options</label>
        <locationX>1502</locationX>
        <locationY>242</locationY>
        <collectionReference>GetFeatureFlags</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddOption</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Payroll_Case_Creation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Grab feature flags in attempt to dynamically add options to the Case Create list.</description>
        <name>GetFeatureFlags</name>
        <label>Get Feature Flags</label>
        <locationX>1502</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetAvailableOptions</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 7)</filterLogic>
        <filters>
            <field>IsEnabled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PMT - Create Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PMT_createCase_Risk_Management</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PMT_createCase_Tax</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PMT_createCase_ProductSupport</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PMT_createCase_PayrollClientServices</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PMT_createCase_NewClientServices</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FeatureFlag__mdt</object>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Payroll_Case_Creation</name>
        <label>Payroll Case Creation</label>
        <locationX>1502</locationX>
        <locationY>542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IsPayrollSupportCase</targetReference>
        </connector>
        <fields>
            <name>varNewCaseType</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>x-small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Dual String Collections</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>colLabels</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>colValues</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Please select the type of case you would like to create, then select Next.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>flowValue</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1376</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetFeatureFlags</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>ClientManagementFlow</name>
        <label>Client Management Flow</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <flowName>Payroll_Client_Management_Case_Creation</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>ComplianceFlow</name>
        <label>Compliance Flow</label>
        <locationX>1634</locationX>
        <locationY>758</locationY>
        <flowName>Payroll_Compliance_Case_Creation</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>FulfillmentDispatcherFlow</name>
        <label>Fulfillment Dispatcher Flow</label>
        <locationX>2162</locationX>
        <locationY>758</locationY>
        <flowName>FulfillmentDispatcher</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Launch_Payroll_Support_Flow</name>
        <label>Launch Payroll Support Flow</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <flowName>Payroll_Support_Case_Creation</flowName>
    </subflows>
    <subflows>
        <name>LearnDev</name>
        <label>Learn&amp;Dev Flow</label>
        <locationX>1370</locationX>
        <locationY>758</locationY>
        <flowName>Payroll_Training_Cases</flowName>
    </subflows>
    <subflows>
        <description>Run the New Client Services flow.</description>
        <name>NewClientServices</name>
        <label>New Client Services</label>
        <locationX>2690</locationX>
        <locationY>758</locationY>
        <flowName>Payroll_New_Client_Services_Case_Creation</flowName>
        <inputAssignments>
            <name>varPMTProjectRecord</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Will pass in recordId of the PMT project to this sub flow, which will in turn call either the banking or the underwriting subflows and pass that record variable to them</description>
        <name>Payroll_Risk_Management_Dispatcher</name>
        <label>Payroll Risk Management Dispatcher</label>
        <locationX>1898</locationX>
        <locationY>758</locationY>
        <flowName>Payroll_Risk_Management_Dispatcher</flowName>
        <inputAssignments>
            <name>varPMTProjectRecord</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Run the Client Services flow</description>
        <name>PayrollClientServices</name>
        <label>Payroll Client Services</label>
        <locationX>2426</locationX>
        <locationY>758</locationY>
        <flowName>Payroll_Client_Services_Case_Creation</flowName>
        <inputAssignments>
            <name>varNewCaseRecord</name>
            <value>
                <elementReference>varNewCaseRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPMTProjectRecord</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>PayrollTaxFlow</name>
        <label>Payroll Tax Flow</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <flowName>Payroll_Tax_Cases</flowName>
        <inputAssignments>
            <name>varPMTProjectRecord</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ProductSupportFlow</name>
        <label>Product Support Flow</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <flowName>Payroll_Product_Support_Cases</flowName>
        <inputAssignments>
            <name>varPMTProjectRecord</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>SelfAssignFlow</name>
        <label>Self-Assign Flow</label>
        <locationX>1106</locationX>
        <locationY>758</locationY>
        <flowName>Payroll_Assign_to_Self_cases</flowName>
    </subflows>
    <variables>
        <name>colLabels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>flowValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>1</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PMT_Project__c</objectType>
    </variables>
    <variables>
        <name>varNewCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
